<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Projekt</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <menu>
        <a href="/upload">Upload</a>
        <a href="/fileMenager">Filemenager</a>
        <a href="/info">Info</a>
    </menu>

    {{{body}}}

</body>

</html>